<h1>Sign In</h1>
<%= form_tag "/logins", data: { turbo: false } do %>
  <%= label_tag :username%>
  <%= text_field_tag :username, params[:username] %>
  <%= label_tag :password%>
  <%= password_field_tag :password, params[:password] %>
  <%= submit_tag 'Log In' %>
<%end%>
